* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(2, 215, 148, 1) 62%
  );
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

/* Antons navbar*/
:root {
  --main: #002e1d;
  --secondary: white;
  --third: rgb(213, 201, 201);
}

header {
  position: sticky;
  top: 0;
  color: var(--secondary);
}

.navbar {
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  position: relative;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.nav-links a {
  text-decoration: none;
  color: var(--secondary);
  margin: 0rem 2rem 0.2rem 2rem;
}

.navbar a:hover {
  color: var(--third);
}

.navbar .logo {
  font-size: 1rem;
  margin: 0rem 2rem;
}

.hamburger-menu {
  display: none;
  margin: 1rem;
  border: solid 0.1rem var(--secondary);
  border-radius: 0.3rem;
}

.hamburger-menu .line {
  display: block;
  width: 1.5rem;
  height: 0.15rem;
  background-color: var(--secondary);
  margin: 0.2rem;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .nav-links {
    display: hidden;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--main);
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    border-radius: 0 0 0 1rem;
    opacity: 0;
    transform: translateY(-1rem);
    transition: opacity 0.5s, transform 1s;
  }

  .nav-links li {
    margin: 1rem;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .hamburger-menu {
    display: block;
  }
}

@media (max-width: 480px) {
  .nav-links {
    font-size: 0.8rem;
  }
}

/*Slut på navbar, start på footer*/
footer {
  background-color: var(--main);
  color: var(--secondary);
  width: 100%;
  height: 1.5rem;
  margin-top: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}

/* Slut på footer */

/*  button styles */

button {
  background-color: rgb(0, 84, 58);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
  color: rgb(195, 245, 229);
  min-height: 50px;
  border: 2px solid white !important;
  min-width: 100px;
  border: none;
  border-radius: 20%;
  text-shadow: 2px 2px 2px rgb(40, 39, 39);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

button:hover {
  opacity: 0.85;
}

*.dark-mode {
  background-color: #1b1b1b;
  color: #ffffff;
}

.heroContainer {
  display: grid;
  grid-column: 1;
  margin: 50px;
  gap: 5px;
}

.image {
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  width: 100%;
}
.image:hover {
  transform: scale(0.97);
  opacity: 0.85;
}
h1:hover {
  border-radius: 7px;
}
.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
}

#darkModeToggle {
  border: none;
  border-radius: 3px;
  padding: 10px;
  background-color: rgb(43, 136, 136);
  color: white;
}

button:hover {
  background-color: #ffff;
  color: black;
}

/* Alice contact page styling start */

.contactPageMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "text"
    "form"
    "details";
  gap: 2rem;
  padding: 2rem;
}

.contactForm,
.contactDetails {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  border: 0.5rem solid #000;
}

/* Styling for text and form */
.contactText {
  grid-area: text;
  font-size: 2rem;
  h1 {
    color: white;
  }
}

.contactDetails {
  grid-area: details;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
}

.contactForm {
  grid-area: form;
  gap: 1rem;
}

.contactForm label {
  font-weight: bold;
}

.contactForm input,
.contactForm textarea .contactForm button {
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 2rem;
}

/* Responsive Layouts */
@media screen and (min-width: 480px) {
  .contactPageMain {
    padding: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .contactPageMain {
    grid-template-columns: 1fr 1fr; /* Two columns for medium-sized screens */
    grid-template-areas:
      "text form"
      "details details"; /* Text and form in two columns, details spans both columns */
  }
}

@media screen and (min-width: 1024px) {
  .contactPageWrapper {
    display: grid;
    grid-template-areas: "text form details"; /* Text in the first column, form in the middle, details in the third column */
    height: 100%;
    align-items: stretch;
    h1 {
      font-size: 4rem;
    }
  }
}

/* Alice contact page styling ends */

/* Rhi Katter styling begins */

.katter-title {
  font-size: 50px;
  line-height: 55px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 5px 5px 5px rgb(40, 39, 39);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100%;
  padding-bottom: 5rem;
}

.card {
  text-shadow: 2px 2px 2px rgb(40, 39, 39);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 25px;
  color: #ffffff;
  margin: 2rem;
  border: 7px solid white;
  border-radius: 20px;
  height: 20rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: default;
}

.cardOne:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-image: url(images/luna.jpg);
  background-size: cover;
  background-position: center;
}

.cardTwo:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-image: url(images/loki.jpg);
  background-size: cover;
  background-position: center;
}
.cardThree:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-image: url(images/coco.jpg);
  background-size: cover;
  background-position: center;
}
.cardFour:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-image: url(images/charlie.jpg);
  background-size: cover;
}
.cardFive:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-image: url(images/milo.jpg);
  background-size: cover;
}
.cardSix:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-image: url(images/bella.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .card {
    height: 15rem;
    width: 15rem;
  }
}

@media (max-width: 425px) {
  .katter-title {
    font-size: 45px;
    line-height: 50px;
  }
}

/* Rhi Katter styling begins */

/* Abbas om oss styling */

.Omossh1 {
  text-align: center;
  margin: 30px auto;
  padding: 10px;
}

.grid-container {
  margin: 70px auto;
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  align-items: center;
  grid-gap: 150px;
  grid-template-areas:
    " image1 image2 "
    " image3 image4"
    " image5 .     ";
}

.image1box {
  grid-area: image1;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.image1box:hover {
  transform: scale(1.2);
}

.image2box {
  grid-area: image2;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.image2box:hover {
  transform: scale(1.2);
}

.image3box {
  grid-area: image3;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.image3box:hover {
  transform: scale(1.2);
}

.image4box {
  grid-area: image4;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.image4box:hover {
  transform: scale(1.2);
}

.image5box {
  grid-area: image5;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.image5box:hover {
  transform: scale(1.2);
}

/* Sektionen för profilen */
.profile-section {
  display: flex;
  justify-content: center;
}

/* Stil för textboxen */
.profile-box {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  text-align: left;
}

/* Profilbild */
.profile-img {
  display: block;
  margin: 0 auto 20px auto;
  width: 150px;
  height: auto;
  border-radius: 50%;
}

/* Rubrik */
h2 {
  color: rgba(2, 215, 148, 1);
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

/* Stark text för frågor */
strong {
  color: rgba(2, 215, 148, 1);
}

/* Standard paragraf */
p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .grid-container {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }
}
