* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*.dark-mode {
  background-color: #1b1b1b;
  color: #ffffff;
}

.heroContainer {
  display: grid;
  grid-column: 1;
  margin: 50px;
  gap: 5px;
}

.image {
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  width: 100%;
}
.image:hover {
  transform: scale(0.95);
  opacity: 0.9;
}
h1:hover {
  border-radius: 7px;
}
.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
}

#darkModeToggle {
  border: none;
  border-radius: 3px;
  padding: 10px;
  background-color: rgb(43, 136, 136);
  color: white;
}
